.body { 
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif !important; 
}

h1 {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  text-align: left;
  border-left: 5px solid black;
  padding-left: 20px;
  line-height: 40px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

.navbar {
	position: absolute;
	width: 100%;
	margin-bottom:0px;
	background:rgba(0,0,0,0.5);
	background-color: transparent;
  background: transparent;
  border-color: transparent;
  font-family: 'Open Sans', sans-serif;
  padding:10px 30px;
  text-align: center;
}

.icon-bar {
	background-color: #000000 !important;
}

.navbar-brand {
  padding: 0px;
  height: 60px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
  text-align:center;
  line-height:40px;
  color: #ffffff;
}

a, .navbar-inverse .navbar-nav>li>a{ 
	color: black;
}

.navbar-collapse.collapsing > ul > li > a:hover,
.navbar-collapse.collapse.in > ul > li > a:hover {
  border: 0px;
  color: #ffffff;
}

.navbar-collapse.collapsing ,
.navbar-collapse.collapse.in{
  float:none !important;
}

.navbar-collapse.collapsing .social-media-nav >li,
.navbar-collapse.collapse.in .social-media-nav>li{
  display: inline-block;
}

.navbar-toggle{
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  border: 2px solid black;
  color:black;
}

.nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
	margin: 0;
}

#home {
 /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
  background-color: #ffffff;
  padding: 0;
  width:100%;
}

#home>img{
	width:100%;
  /*filter: grayscale(100%);*/
}


/* image slider
https://codepen.io/bamf/pen/jEpxOX */
/*****************************************************************/
.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:2px;
  margin-left:-2px;
 
  background: rgba(250,250,250,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
/*    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800;  
    border:1px solid #e6a600; 
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
    0 2px 6px rgba(0,0,0,.3), 
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466;  */
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}
/* image slider */
/*****************************************************************/

/* f9cac0  */
#about {
  	background-color: #f8f8f8;
}

#experience {
	background-color:#ffffff;
}

#education {
	background-color:#f8f8f8;
}

#skills {
	background-color:#ffffff;
}

#contact {
	background-color: #f8f8f8;
}

.container-fluid {
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.row {
	float: none;
  margin: 0 auto;
}

.bio {
	text-align: left;
}

.headshot {
  width: 100%;
  margin-bottom: 20px;
}

.signature {
  width: 200px;
  float: right;
  margin-bottom: 40px;
}

.bio-scale {
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 8px solid #f9cac0;
  position: relative;
  margin-bottom: 20px;
}

.bio-scale-bar {
  position: absolute;
  top: 0px;
  height: 34px;
  border-bottom: 8px solid #000000;
  text-align: right;
  line-height: 40px;
  padding-right: 2px;
}

.bio-scale-bar::after {
  height: 40px;
  width: 3px;
  background-color: #000000;
  content: "";
  position: absolute;
  top: 10px;
  right: -3px;
}

.download-resume {
  margin-top: 40px;
  display: inline-block;
  background-color: #f8f8f8;
  color: black;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.download-resume a{
  color: black;
  border: 2px solid black;
  display: block;
}

.download-resume a:hover {
  background-color: black;
  color: #f8f8f8;
  text-decoration: none;
}

.interests {
  text-align: center;
}

.interests img {
  height: 60px;
  padding-top:10px;
}

.timeline-date {
  margin: 20px;
}

.timeline-bar-left{
  position: absolute;
  top: 0px;
  left: -2px;
  width: 4px;
  height: 100%;
  background-color: #000000;
}

.timeline-bar-left:after,
.timeline-bar-right:after {
  position: absolute;
  top: 20px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: black;
  content: "";
  border: 2px solid white;
  border-radius: 5px;
}

.timeline-bar-right {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: #000000;
}

.timeline-info {
  margin: 20px;
  text-align: left;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;

}

.edu-half {
  background-color: #ffffff;
  text-align: left;
  border: 5px solid #f8f8f8;
}

.edu-data {

}

.edu-info {
  border-bottom: 2px solid #f8f8f8;
}
