.body { 
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif !important; 
}

h1 {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
  text-align: left;
  border-left: 5px solid black;
  padding-left: 20px;
  line-height: 40px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

h4 {
  font-weight: bold;
  color: #f9cac0;
  font-family: 'Open Sans', sans-serif;
  padding-right: 20px;
  font-size: 14px;
  display: inline-block;
  margin: 0 auto;
}

p {
  font-size: 12px;
}

.navbar {
	position: absolute;
	width: 100%;
	margin-bottom:0px;
	background:rgba(0,0,0,0.5);
	background-color: transparent;
    background: transparent;
    border-color: transparent;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 30px;
    text-align: center;
}

@media (max-width: 768px) {
	.navbar {
		padding: 0px;
	}
}

@media (max-width: 500px) {
	.nav > li > a {
		padding: 5px !important;
	}
}

.icon-bar {
	background-color: #000000 !important;
}

.navbar-brand {
  padding: 0px;
  height: 60px;
  border: none;
}

@media (min-width: 768px) {
  .navbar-brand {
    border: 2px solid black !important;
  }
}

.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
  text-align:center;
  line-height:40px;
  color: #ffffff;
}

a, .navbar-inverse .navbar-nav>li>a{ 
	color: black;
  min-width: 60px;
}

.navbar-collapse.collapsing > ul > li > a:hover,
.navbar-collapse.collapse.in > ul > li > a:hover {
  border: 0px;
  color: #ffffff;
}

.navbar-collapse.collapsing ,
.navbar-collapse.collapse.in{
  float:none !important;
}

.navbar-collapse.collapsing .social-media-nav >li,
.navbar-collapse.collapse.in .social-media-nav>li{
  display: inline-block;
}

.navbar-toggle{
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  border: 2px solid black;
  color:black;
}

.nav >li >a {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid transparent;
}

.jumbotron {
	margin: 0;
}

#home {
 /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
  background-color: #ffffff;
  padding: 0;
  width:100%;
}

#home>img{
	width:100%;
  /*filter: grayscale(100%);*/
}


/* image slider
https://codepen.io/bamf/pen/jEpxOX */
/*****************************************************************/
.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:2px;
  margin-left:-2px;
 
  background: rgba(250,250,250,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
/*    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800;  
    border:1px solid #e6a600; 
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
    0 2px 6px rgba(0,0,0,.3), 
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466;  */
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}
/* image slider */
/*****************************************************************/

#navbar-background {
  background-color: #f9cac0;;
}

/* f9cac0  */
#about {
  	background-color: #f8f8f8;
    position: relative;
}

#experience {
	background-color:#ffffff;
}

#education {
	background-color:#f8f8f8;
}

#quote {
  background-color: #a8a8a8;
  font-size: 14px;
  color: #ffffff;
}

#skills {
	background-color:#ffffff;
}

#blurb {
  background-color:#a8a8a8;
}

#contact {
	background-color: #f9cac0;
}

#copyright {
  background-color: #686868;
  font-size: 12px;
  padding: 20px;
}

.container-fluid {
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.row {
	float: none;
  margin: 0 auto;
}

.bio {
	text-align: left;
}

.headshot {
  width: 100%;
  margin-bottom: 20px;
}

.signature {
  width: 200px;
  float: right;
  margin-bottom: 40px;
}

.bio-scale {
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 8px solid #f9cac0;
  position: relative;
  margin-bottom: 20px;
}

.bio-scale-bar {
  position: absolute;
  top: 0px;
  height: 34px;
  border-bottom: 8px solid #000000;
  text-align: right;
  line-height: 40px;
  padding-right: 2px;
}

.bio-scale-bar::after {
  height: 40px;
  width: 3px;
  background-color: #000000;
  content: "";
  position: absolute;
  top: 10px;
  right: -3px;
}

.bb-90 {
  animation-name: bio-bar-90;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.bb-85 {
  animation-name: bio-bar-85;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.bb-80 {
  animation-name: bio-bar-80;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.bb-75 {
  animation-name: bio-bar-75;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes bio-bar-90 {
    from {width:0%;}
    to {width: 90%;}
}

@keyframes bio-bar-85 {
    from {width:0%;}
    to {width: 85%;}
}

@keyframes bio-bar-80 {
    from {width:0%;}
    to {width: 80%;}
}

@keyframes bio-bar-75 {
    from {width:0%;}
    to {width: 75%;}
}

.download-resume {
  margin-top: 40px;
  display: inline-block;
  background-color: #f8f8f8;
  color: black;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.download-resume a{
  color: black;
  border: 2px solid black;
  display: block;
}

.download-resume a:hover {
  background-color: black;
  color: #f8f8f8;
  text-decoration: none;
}

.interests {
  text-align: center;
}

.interests img {
  height: 60px;
  padding-top:10px;
}

.timeline-date {
  margin: 0px;
}

.timeline-bar-left{
  position: absolute;
  top: 0px;
  left: -2px;
  width: 2px;
  height: 100%;
  background-color: #000000;
}

.timeline-bar-left:after,
.timeline-bar-right:after {
  position: absolute;
  top: 20px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: white;
  content: "";
  border: 2px solid black;
  border-radius: 5px;
}

.timeline-bar-right {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: #000000;
}

.timeline-info {
  margin: 20px;
  text-align: left;
}

.current h2{
  background-color: #f9cac0;
  padding: 10px;
  margin-top: -10px;
}

.current h2:before {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #f9cac0;
  border-bottom: 10px solid transparent;
  content: "";
}

.current .timeline-bar-left:after {
  top: 20px;
  left: -9px;
  width: 20px;
  height: 20px;
  background-color: #f9cac0;
  border: 2px solid white;
  border-radius: 10px;
}

@media (min-width: 448px){

   .timeline p {
    font-size: 12px;
    overflow: hidden;
    -webkit-transition: font-size 0.1s linear;
  }

  .timeline:hover p {
    font-size: 16px;
    -webkit-transition: font-size 0.1s linear;
  }

  .timeline:hover .timeline-date{
    color: #f9cac0;
    -webkit-transition: color 0.2s linear;
  }

  .timeline:not(.current):hover  h2{
    background-color: #f8f8f8;
    padding: 10px;
    margin-top: -10px;
  }

  .timeline:not(.current):hover h2:before {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #f8f8f8;
    border-bottom: 10px solid transparent;
    content: "";
  }

  .timeline:not(.current):hover .timeline-bar-left:after {
    top: 20px;
    left: -9px;
    width: 20px;
    height: 20px;
    background-color: #f8f8f8;
    border: 2px solid white;
    border-radius: 10px;
  }

}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;

}

.quote {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  vertical-align: top;
  padding-top: 20px;
}

.author {
  display: inline-block;
  border-left: 2px solid black;
  font-size: 12px;
  margin: 20px 0px 0px 10px;
  padding-left: 10px;
  padding-top: 20px;
}

/******************** skill bar ***************/

.skill-container {
  margin: 0 auto;
  min-width: 100px;
}

@media (min-width: 480px){
  .skill-container {
    max-width: 300px;
  }
}

@media (min-width: 768px){
  .skill-container {
    max-width: 600px;
  }
}

.skill-content {
  display: inline-block;
  margin: 3%;
}

/* https://bootsnipp.com/snippets/featured/circle-progress-bar */
.skill{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.skill:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
}

.skill > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.skill .skill-left{
    left: 0;
}
.skill .skill-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.skill .skill-left .skill-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.skill .skill-right{
    right: 0;
}
.skill .skill-right .skill-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-50 1.8s linear forwards;
}

.skill .skill-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 24px;
    color: #000000;
    line-height: 95px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.skill .skill-bar{
    border-color: #f9cac0;
}

.skill.sb-60 .skill-left .skill-bar{
    animation: loading-60 1.5s linear forwards 1.8s;
}

.skill.sb-65 .skill-left .skill-bar{
    animation: loading-65 1.5s linear forwards 1.8s;
}

.skill.sb-70 .skill-left .skill-bar{
    animation: loading-70 1.5s linear forwards 1.8s;
}

.skill.sb-75 .skill-left .skill-bar{
    animation: loading-75 1.5s linear forwards 1.8s;
}

.skill.sb-80 .skill-left .skill-bar{
    animation: loading-80 1.5s linear forwards 1.8s;
}

.skill.sb-85 .skill-left .skill-bar{
    animation: loading-85 1.5s linear forwards 1.8s;
}

.skill.sb-90 .skill-left .skill-bar{
    animation: loading-90 1.5s linear forwards 1.8s;
}

.skill.sb-95 .skill-left .skill-bar{
    animation: loading-95 1.5s linear forwards 1.8s;
}

.skill.sb-100 .skill-left .skill-bar{
    animation: loading-100 1.5s linear forwards 1.8s;
}

@keyframes loading-50{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-60{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-65{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(54deg);
        transform: rotate(54deg);
    }
}

@keyframes loading-70{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
}

@keyframes loading-75{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-80{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
}

@keyframes loading-85{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@keyframes loading-90{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-95{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(162deg);
        transform: rotate(162deg);
    }
}

@keyframes loading-100{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.carousel-indicators {
  bottom: -15px;
  z-index: 9999;
}

.carousel-control {
  background-image: none !important;
  color: #e5e5e5 !important;
  text-shadow: none !important;
}

.carousel-control:hover {
  color: #f8f8f8;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  border-color: black;
}

.blurb {
  margin-top: 40px;
}

.blurb-header {
  float: left;
  margin: 5px 10px 5px 0px;
  background-color: #f9cac0;
  padding: 5px 20px 5px 30px; 
  font-family: 'Raleway', sans-serif;
}

.blurb-header:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 45px;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


@media (min-width: 1100px){
  .blurb-content {
    text-align: left;
    font-size: 14px;
  }
}

@media (max-width: 1099px){
  .blurb-content {
    text-align: left;
    font-size: 11px;
  }
}

/******************** skill bar ***************/

.edu-half {
  padding: 0px 1px;
}

.edu-half .row{
  text-align: left;
  border: 1px solid #f8f8f8;
}

.edu-half .row:hover .edu-info{
    background-color: #f8f8f8;
}


.edu-half .row.edu-degree {
  background-color: #f9cac0;
  margin-right: 0px;
}

.edu-half .row.edu-project {
  background-color: #a8a8a8;
  color: #e5e5e5;
}

.edu-info {
  background-color: #ffffff;
  color: black;
  min-height: 200px;
}

#contact a:hover {
  color: #ffffff;
}

.email {
  font-size: 16px;
  padding-top: 40px;
}

.email i {
  font-size: 32px;
  margin: 10px;
}

.social-media-contact {
  font-size: 24px;
  padding-bottom: 60px;
}

.social-media-contact i {
  margin: 20px 5px 0px 5px;
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(250,250,250,0.5);
  border-radius: 0;
  border: none;
  border-left: 2px solid black;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder{ /* WebKit browsers */
    color:    #ffffff;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder::-o-input-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}

.contact-form input.btn {
  border: 2px solid black;
  background: none;
  float: right;
  color: black;
  margin: 10px 0px;
  padding: 5px 20px;
}

.text-muted {
  float: left;
  color: black;
}

.contact-form input.btn:hover {
  background: black;
  color: #ffffff;
}

.btn btn-success btn-send {
	outline: none !important;
	box-shadow: none !important;
}

.btn:focus {
	outline: 0;
}

.form-control:focus {
    outline: none !important;
    border-left: 4px solid black;
    box-shadow: none;
}

.alert-success {
    color: black;
    background-color: rgba(255,255,255,0.8);
	border: none;
}

.alert-danger {
  color: white;
  background-color: black;
	border: none;
}

.portfolio-image {
  max-width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.portfolio-image div {
  height:100%; 
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.portfolio-image:hover .image-overlay {
  opacity: .8;
}

.portfolio-image:hover .image-detail {
  opacity: 1;
}

.image-detail {
  color: #686868;
  font-size: 12px;
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}